.filters {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

p {
    width: 200px;
    border: 1px solid black;
    text-align: center;
    margin: 0;
    padding: 5px;
}
.search {
    width: 700px;
}

.search__container{
    margin: 20px;
}
